html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

/* IMAGEM */
.image {
  max-width: 100vw;   /* nunca passa da largura da tela */
  max-height: 100vh;  /* nunca passa da altura da tela */
  width: auto;
  height: auto;
  object-fit: contain;
}
