html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;      /* centro vertical */
  justify-content: center;  /* centro horizontal */
  background-color: black;
}

